<mat-dialog-content class="mat-typography">
  
    <div class="row">
        <div class="col">
            <app-input type="text" label="Name" [required]="true"></app-input>
        </div>
        <div class="col">
            <app-input type="text" label="Username" [required]="true"></app-input>
        </div>
       
    </div>
    <div class="row">
        <div class="col">
            <app-input type="email" [required]="true"></app-input>
        </div>
        <div class="col-12">
            <app-input type="password" [required]="true" ></app-input>    
        </div>
    </div>
    <div>
        <app-input type="phone" [required]="true"></app-input>
    </div>
    <div>
        <app-input type="text" label="login.username" [required]="true"></app-input>
    </div>
    <div>
        <app-input type="password" [required]="true"></app-input>
    </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
        <button type="button" class="btn btn-success btn-sm" (click)="onClose()">close</button>
    &nbsp;&nbsp;
    <button type="button" class="btn btn-success btn-sm" (click)="onSignUp()">Sign Up</button>
</mat-dialog-actions>